

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<footer>
  <div class="container">
    <div class="row">
      <ul class="iconsRow">
        <li class="item itemInstagram">
          <a href="https://www.instagram.com/abyssal.performance/" target="_blank" rel="noopener noreferrer">
            <i class="icon fa fa-instagram"></i>
          </a>
        </li>

        <li class="item itemWhatsapp">
          <a href="#" class="icon fa fa-whatsapp"></a>
        </li>
        <li class="item itemMail">
          <a
            href="mailto:abyssalPerformance@gmail.com"
            class="icon fa fa-envelope-o"
          ></a>
        </li>
        <li class="item itemPhone">
          <a href="#" class="icon fa material-symbols-outlined">call</a>
        </li>
        <li class="item itemFacebook">
          <a href="#" class="icon fa fa-facebook"></a>
        </li>
      </ul>
    </div>
    <div class="row" style="text-align: center;">
      <span>&copy;2024 Abyssal Performance</span>
    </div>
  </div>
</footer>
