html {
  background: var(--theme-background);
  color: var(--theme-color);
  transition: all ease-in-out 400ms;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: auto !important;
}

.card{
  background: var(--theme-background);
  color: var(--theme-color);
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}
.card img{
  border-radius: 10px;
}

footer {
  margin-top: auto;
}

.container{
  padding-top: 8px;
}

.filtered::after {
  content: '\00D7';
  margin-left: 5px; 
}



.dropdown-menu{
  display: fixed;
  margin-top: 8px;
  border-radius: 8px;
  background-color: #606060;
}
.dropdown-menu a{
  color: #C9C9C9;
}
.dropdown-menu a:hover{
  background-color: transparent;
  color: white;
}



#roundedButton.btn-secondary{
  color: white;
  background:#330E7D;
}

#roundedButton.btn-disabled{
  opacity: 0.7;
}

#roundedButton.btn-primary{
  color: white;
  background: radial-gradient(circle, #6008C4, #330E7D);
 
}

#roundedButton{
  background: var(--theme-background);
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  padding: 0 8px;
  height: 40px;
  font-size: 16px;
  border-radius: 25px;
  margin-right: 8px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.fa{
  color: var(--theme-color);
}
.fa:hover{
  color: var(--theme-color);
  opacity: 0.7;
}


.accordion-body{
  background-color: var(--theme-background);
  color: var(--theme-color);
}


.accordion-header{
  --bs-accordion-active-bg: #330E7D;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-color: var(--theme-color);
  --bs-accordion-btn-bg: var(--theme-background);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

