.reqField {
  margin-left: 2px;
  color: RGB(203, 68, 74);
}

.loading {
  margin: 0;
  width: 90px;
}

.alert-success {
  text-align: center;
}

#roundedButton{
 width: auto;
 padding: 24px;
}

h2 {
  font-weight: 600;
}

.alert {
  position: fixed;
  margin: 0;
  bottom: -100px; /* Start off-screen */
  left: 0;
  width: 100%;
  z-index: 9999;
  border-radius: 0;
}

.alert-show {
  bottom: 0;
}

@keyframes slideIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideOut {
  from {
    bottom: 0;
  }
  to {
    bottom: -100px;
  }
}

/* Apply animations when the alert-show class is added or removed */
.alert.slide-in {
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: forwards; /* Keep the styles after the animation */
}

.alert.slide-out {
  animation: slideOut 0.5s ease-in-out;
  animation-fill-mode: forwards; /* Keep the styles after the animation */
}

.card {
  margin: 50px auto;
  max-width: 700px;
  background-size: cover;
  backdrop-filter: blur(15px);
  background-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  position: relative; 
  
}

.bg-image {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  padding: 10px; 
  box-sizing: border-box;
  border-radius: 10px;
}
