

<div>
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
 
    <button class="navbar-toggler p-0 border-0 openbtn" 
    type="button" 
    data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasExample" 
    aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <img src="https://i.ibb.co/PWfMVzk/diocane.png" class="logo-extended">
    <img src="https://svgshare.com/i/11Kh.svg" style="width:60px" title="" />
  </div>
  </nav>

 

  <div id="offcanvasExample" class="offcanvas offcanvas-start"  data-bs-backdrop="static" tabindex="-1">
    <a class="closebtn category" data-bs-dismiss="offcanvas">&times;</a>
    <a
      data-bs-dismiss="offcanvas"
      class="category"
      routerLink=""
      routerLinkActive="active"
      >Home</a
    >
    <a class="category" (click)="openProduct()">Prodotti</a>
    <div class="subcategory" *ngIf="isOpenProduct">
      <div *ngFor="let category of categories">
        <a (click)="openCategory(category.type)">{{ category.type }} </a>
        <div class="subcategory2" *ngIf="isOpenCategory(category.type)">
          <div *ngIf="isVehicle(category)">
            <div *ngFor="let brand of asVehicleCat(category).brands">
              <a (click)="openBrand(brand.brandName)">{{ brand.brandName }}</a>
              <div class="subcategory3" *ngIf="isOpenBrand(brand.brandName)">
                <div *ngFor="let model of brand.models">
                  <a
                    data-bs-dismiss="offcanvas"
                    routerLink="/products"
                    (click)="openModel(model.modelName)"
                  >
                    {{ model.modelName }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/products" (click)="openAccessory()" data-bs-dismiss="offcanvas"
        >Accessori</a
      >
      <a data-bs-dismiss="offcanvas" routerLink="/products" routerLinkActive="active"
        >Tutti i prodotti</a
      >
      <a data-bs-dismiss="offcanvas" routerLink="custom">Su misura</a>
    </div>
    <a data-bs-dismiss="offcanvas" class="category" routerLink="/production"
      >Produzione</a
    >
    <a
      data-bs-dismiss="offcanvas"
      class="category"
      routerLink="/aboutus"
      routerLinkActive="active"
      >Chi siamo</a
    >
    <a
      data-bs-dismiss="offcanvas"
      class="category"
      routerLink="/contact"
      routerLinkActive="active"
      >Contattaci</a
    >
  </div>
</div>
