<div class="container">
  <h2>Su misura</h2>
  <p>
    Dal mondo dell'automotive al design industriale, dalla moda all'arredamento,
    offriamo un servizio di personalizzazione senza precedenti. Ogni prodotto
    che creiamo è un autentico capolavoro, concepito per riflettere in modo
    unico lo stile e le esigenze di ciascun cliente. Collaborare con noi
    significa intraprendere un affascinante viaggio di creatività, dove il
    vostro sogno si materializza in forme eleganti e prestigiose, plasmate con
    maestria e precisione nel nostro laboratorio di carbonio.
  </p>
  <app-contact-us
    [title]="'Spiegaci cosa necessiti'"
    [titleAlignment]="'center'"
  ></app-contact-us>
</div>
